<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="max-width: 650px; margin-top: 50px" >
    <h3 class="page-header"> 注册 </h3>
    <div class="well">
        <form action="#" th:object="${userForm}" method="post">
            <div class="=form-group">
                <label for="usernameId">用户名</label>
                <input type="text" name="username" id="usernameId" class="form-control" th:field="*{username}">
                <p class="form-control-static text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">不能为空</p>
            </div>
            <div class="=form-group">
                <label for="passwordId">密码</label>
                <input type="password" name="password" id="passwordId" class="form-control" th:field="*{password}">
                <p class="form-control-static text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">不能为空</p>
            </div>
            <div class="=form-group">
                <label for="ConfirmPasswordId">确认密码</label>
                <input type="password" name="ConfirmPassword" id="ConfirmPasswordId" class="form-control" th:field="*{ConfirmPassword}">
                <p class="form-control-static text-danger" th:if="${#fields.hasErrors('ConfirmPassword')}" th:errors="*{ConfirmPassword}">不能为空</p>

            </div>
            <div class="=form-group">
                <label for="emailId">邮箱</label>
                <input type="text" name="email" id="emailId" class="form-control" th:field="*{email}">
                <p class="form-control-static text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">不能为空</p>

            </div>
            <div class="=form-group">
                <label for="phoneId">手机号</label>
                <input type="text" name="phone" id="phoneId" class="form-control" th:field="*{phone}">
                <p class="form-control-static text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">不能为空</p>
            </div>
            <p>
                <button type="submit" class="btn btn-primary">注册</button>
            </p>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>